asgiref==3.11.1
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.21.2
future==1.0.0
gevent==25.9.1
greenlet==3.3.1
idna==3.11
pillow==12.1.1
psycopg2-binary==2.9.11
PyJWT==2.11.0
PySocks==1.7.1
python-dotenv==1.2.1
requests==2.32.5
requests-file==3.0.1
sqlparse==0.5.5
tldextract==5.3.1
urllib3==2.6.3
zope.event==6.1
zope.interface==8.2
